* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  padding: 0;
}

/* Container styling */
.container {
  padding: 1em;
  background-color: aliceblue;
  min-height: 300px;
  width: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #c9d1d4;
  border-radius: 8px;
}

/* Logo styling */
.logo h1 {
  font-family: "pacified", curative;
  color: #db3eb1;
  text-decoration: underline;
  text-decoration-color: lightblue;
  font-size: 40px;
  text-align: center;
}

/* General header styling */
h2 {
  text-align: center;
}

/* Input container styling */
.input-container {
  display: flex;
  text-align: center;
}

input {
  flex-grow: 1;
  border: 1px solid #dddddd;
  background: #f2f2f2;
  font-size: 20px;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

/* Button styling */
button {
  border-radius: 0px 5px 5px 0px;
  background: #41b6e6;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #78c1e0;
}

/* List of names styling */
.list-of-names {
  padding: 20px 0px;
  cursor: pointer;
}

.list-of-names div {
  margin-right: 10px;
  margin-bottom: 10px;
  background: #41b6e6;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 13px;
}

.list-of-names div:hover {
  background: #607d8b;
}

/* Error label styling */
.error-label {
  color: #f44336;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

/* btn2 styling */
.btn2 {
  color: #00a5b1;
  border-radius: 5px;
  border: 1px solid #00a5b1;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 11px;
  margin: 0 auto;
}

.btn2:hover {
  background-color: #e265b1;; /* Warna latar belakang putih saat hover */
  color: black; /* Warna teks hitam saat hover */
  border: 1px solid #008CBA; /* Border biru saat hover */
}

/* Action button styling */
.action-button {
  cursor: pointer;
  border: 1px solid #e265b1;
  color: #e265b1;
  font-size: 16px;
  width: 200px;
  text-align: center;
  padding: 10px;
  border-radius: 11px;
  margin: 0 auto;
}

.action-button:hover {
  background: #db3eb1;
  color: #fff;
}

.action-button .result-button {
  border: 1px solid #42b6e6;
  color: #42b6e6;
}

.action-button .result-button:hover {
  background: #42b6e6;
  color: #fff;
}

/* Result value styling */
.result-value {
  font-size: 60px;
  color: #41b6e6;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

/* Result container styling */
.result-container h1 {
  color: #e265b1;
  text-decoration: underline;
  text-decoration-color: #41b6e6;
}

/* Error label styling */
.error_label {
  color: #e265b1;
  text-decoration: italic;
  text-align: center;
  text-decoration-color: #41b6e6;
}
